body {
    margin: 0;
    font-family: Arial;
    background: #eef2f3;
    color: #333;
}

/* Header */
header {
    text-align: center;
    padding: 15px;
    background: #2d6a4f;
    color: white;
}

nav a {
    color: white;
    margin: 8px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #d8f3dc;
}

/* Card */
.card {
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th {
    background: #40916c;
    color: white;
}

td, th {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background: #f1f1f1;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin: 8px 0;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button {
    margin-top: 10px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #2d6a4f;
    color: white;
    font-weight: bold;
}

button:hover {
    background: #40916c;
}

/* Footer */
footer {
    text-align: center;
    margin: 20px;
}

/* 📱 Responsive */
@media (max-width: 600px) {

    .card {
        margin: 10px;
        padding: 15px;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav a {
        margin: 5px;
        font-size: 14px;
    }

    table {
        font-size: 14px;
    }
}
