body {
    margin: 0;
    font-family: Arial;
    background: #0b1e2d;
    color: white;
}

/* Header */
header {
    text-align: center;
    padding: 15px;
    background: #081521;
}

nav a {
    color: white;
    margin: 8px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #4da6ff;
}

/* Card */
.card {
    background: #102a43;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th {
    background: #163d5c;
}

td, th {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

tr:hover {
    background: #1c4d70;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin: 8px 0;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #1f2e3a;
    color: white;
}

button {
    margin-top: 10px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #4da6ff;
    color: black;
    font-weight: bold;
}

button:hover {
    background: #82c4ff;
}

/* Footer */
footer {
    text-align: center;
    margin: 20px;
}

/* 📱 Responsive (المهم عشان الموبايل) */
@media (max-width: 600px) {

    .card {
        margin: 10px;
        padding: 15px;
    }

    table, th, td {
        font-size: 14px;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav a {
        margin: 5px;
    }
}
